# ---> Java
*.class
app.pid
127.0.1.1.tm0.epoch
tmlog0.log
tmlog.lck
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.transaction-logs/
*.jar
*.war
*.ear
.idea/*
*.iml
target
logs
cache_apollo

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.lck
*.lgo
*.epoch

